@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.material-design-icon.icon-2x {
  height: 2em;
  width: 2em;
}

.material-design-icon.icon-2x > .material-design-icon__svg {
  height: 2em;
  width: 2em;
}
#content {
  padding: 10px;
  height: 100vh !important;
  width: 100% !important;
  background-color: #fff !important;
  overflow-x: hidden !important;
}

nav {
  height: 100% !important;
  width: 100% !important;
  background-color: #272936 !important;
  div {
    * {
      color: #fff;
      font-size: 18px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

#logo {
  font-family: brandon-grotesque;
  font-weight: 300;
  font-style: normal;
  background: rgba(255,255,255,.05);
  color: #719e40;
  font-size: 32px;
  line-height: 64px;
  margin: 0 0 0 -15px;
  text-align: center;
  text-decoration: none;
  width: 114px;
}
